<script type="text/javascript">
  $(function(){
    $(".navbar").removeClass("navbar-devise");
    $(".navbar").addClass("navbar-default");
  });
</script>

<div class="jumbotron">
	<%= render 'partial/navbar' %>

  <div class="container">
   <div class="row">
     <div class="col-md-6 col-md-offset-3 text-center">
       <h1 class="display-3">Hello, world!</h1>
     </div>
   </div> 
  </div>

  <!-- Search Form -->
  <div class="top-search-field">
    <%= form_tag "", method: :get do %>
      <div class="row">
        <div class="container">
          <div class="col-md-7 col-xs-10" style="padding-right: 0px">
            <%= text_field_tag :search, params[:search], placeholder: "希望の場所はどこですか？", class: "form-control" %>
          </div>

          <div class="col-md-2 hidden-xs hidden-sm">
            <%= text_field_tag :start_date, params[:start_date], placeholder: "チェックイン", class: "form-control" %>
          </div>
          <div class="col-md-2 hidden-xs hidden-sm">
            <%= text_field_tag :end_date, params[:end_date], placeholder: "チェックアウト", class: "form-control" %>
          </div>
          <div class="col-md-1 col-xs-2" style="padding-left: 0px; ">
            <%= submit_tag "検索", class: "btn btn-danger" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

</div>

<h1>Pages#index</h1>
<p>Find me in app/views/pages/index.html.erb</p>
